@font-face {
  font-family: 'Saira Stencil One';
  src: url('../../assets/fonts/Saira_Stencil_One/SairaStencilOne-Regular')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Patua One';
  src: url('../../assets/fonts/Patua_One/PatuaOne-Regular') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
}
