@import 'Fonts';
@import 'Colors';

form {
  margin-top: 10%;

  .todo-wrapper {
    margin: 2% 0 0 30%;

    input {
      width: 60%;
      border: none;
      outline: none;
      font-size: 2.5rem;
      border-bottom: solid #000000;
      text-align: center;
      padding-bottom: 10px;
      color: $dimGreen;
    }

    button {
      margin: 40px 0 0 240px;
      text-align: center;
      padding: 6px;
      border-radius: 10px;
      width: 12%;
      outline: none;
      font-size: 1.8rem;
      text-transform: uppercase;
      letter-spacing: 5px;
      transition: 0.3s ease-in-out;
      font-family: $saira;
    }

    button:hover {
      cursor: pointer;
    }
  }
}
