@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chilanka|Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Vollkorn+SC:600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Amatic+SC|Cinzel|Francois+One|Kalam|Patua+One|Permanent+Marker|Saira+Stencil+One|Squada+One&display=swap');

$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;
$nunito: 'Nunito', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$chilanka: 'Chilanka', cursive;
$pacifico: 'Pacifico', cursive;
$vollkorn: 'Vollkorn SC', serif;
$amatic: 'Amatic SC', cursive;
$saira: 'Saira Stencil One', cursive;
$patua: 'Patua One', cursive;
$francois: 'Francois One', sans-serif;
$cinzel: 'Cinzel', serif;
$permanent: 'Permanent Marker', cursive;
$squada: 'Squada One', cursive;
$alfa: 'Alfa Slab One', cursive;
$kalam: 'Kalam', cursive;
$open-sans: 'Open Sans', sans-serif;
