@import 'Colors';
@import 'Fonts';

nav {
    background: $lightBlue;
    .logo {
        margin-left: 3rem;
        font-family: $saira;
        font-size: 4rem;
        color: $white;
        text-decoration: none;
    }
    .menu {
        float: right;
        font-size: 2.5rem;
        color: $white;
        text-decoration: none;
        padding: 5px;
        font-family: $saira;
        line-height: 6rem;
    }

    .last {
        margin-right: 3rem;
        margin-left: 3rem;
    }
}